body {
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.MuiTextField-root {
  width: 100%;
}

.modal-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: none;
}

.txt-verify {
  font-size: 8px !important;
  font-weight: bold !important;
  color: gray;
  padding-top: 25px !important;
  width: 70px !important;
}

.img-verify {
  font-size: 12px !important;
  color: green;
  padding: 23px 0px 0px 0px !important;
}

.img-verify-error {
  font-size: 12px !important;
  color: red;
  padding: 23px 0px 0px 0px !important;
}

.error-message {
  color: red;
  font-size: 14px;
}